<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width" name="viewport">
  <title>Portal - FeiFlight</title>

  <!-- css -->
  <link rel="stylesheet" type="text/css" href="../static/css/base.css">
  <link rel="stylesheet" type="text/css" href="../static/css/project.css">

  <!-- favicon -->
  <!-- ... -->
</head>
{% with messages = get_flashed_messages() %}
{% if messages %}
  {% for message in messages %}
    <script>
      window.onload=function () {
        $('body').snackbar({
          content: '{{ message }}'
        });
      }
    </script>
  {% endfor %}
{% endif %}
{% endwith %}
<body class="page-brand">
  <header class="header header-transparent header-waterfall ui-header">
    <ul class="nav nav-list pull-left">
      <li>
        <a data-toggle="menu" href="#ui_menu">
          <span class="icon icon-lg">menu</span>
        </a>
      </li>
    </ul>
    <a class="header-logo margin-left-no" href="index.html">FeiFlight</a>
    <ul class="nav nav-list pull-right">
      <li class="dropdown margin-right">
        <a class="dropdown-toggle padding-left-no padding-right-no" data-toggle="dropdown">
          <span class="access-hide">{{ g.authedUser.name }}</span>
          <span class="avatar avatar-sm"><img alt="alt text for John Smith avatar" src="../static/images/users/avatar-001.jpg"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
          {% if(g.authedUser!=None) %}
          <li>
            <a class="padding-right-lg waves-attach" href="profile.html"><span class="icon icon-lg margin-right">account_box</span>{{ g.authedUser.name }}</a>
          </li>
          {% if(g.authedUser['user_type'] == 2) %}
          <li>
            <a class="padding-right-lg waves-attach" href="my-trips.html"><span class="icon icon-lg margin-right">airplanemode_active</span>My trips</a>
          </li>
          {% elif(g.authedUser['user_type'] == 1) %}
          <li>
            <a class="padding-right-lg waves-attach" href="company-portal.html"><span class="icon icon-lg margin-right">dashboard</span>Portal</a>
          </li>
          {% else %}
          <li>
            <a class="padding-right-lg waves-attach" href="admin-portal.html"><span class="icon icon-lg margin-right">dashboard</span>Portal</a>
          </li>
          {% endif %}
          <li>
            <a class="padding-right-lg waves-attach" href="logout.html"><span class="icon icon-lg margin-right">exit_to_app</span>Logout</a>
          </li>
          {% else %}
          <li>
            <a class="padding-right-lg waves-attach" href="login.html"><span class="icon icon-lg margin-right">input</span>Login</a>
          </li>
          <li>
            <a class="padding-right-lg waves-attach" href="sign-up.html"><span class="icon icon-lg margin-right">person_add</span>Sign up</a>
          </li>
          {% endif %}
        </ul>
      </li>
    </ul>
  </header>
  <nav aria-hidden="true" class="menu" id="ui_menu" tabindex="-1">
    <div class="menu-scroll">
      <div class="menu-content">
        <a class="menu-logo" href="index.html">FeiFlight</a>
        <ul class="nav">
          {% if(g.authedUser['user_type'] == 2) %}
          <li>
            <a class="waves-attach" href="discount.html">Discount</a>
          </li>
          <li>
            <a class="waves-attach" href="my-trips.html">My trips</a>
          </li>
          {% endif %}
          <li>
            <a class="waves-attach" href="about-us.html">About us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <main class="content">
    <div class="content-header ui-content-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
            <h1 class="content-heading">Portal</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
          <section class="content-inner margin-top-no">
            <div class="card">
              <div class="card-main">
                <nav class="tab-nav tab-nav-brand margin-top-no">
                  <ul class="nav nav-justified">
                    <li class="active">
                      <a class="waves-attach" data-toggle="tab" href="#Flights">Flights</a>
                    </li>
                    <li>
                      <a class="waves-attach" data-toggle="tab" href="#Cancel_applications">Cancel applications</a>
                    </li>
                  </ul>
                </nav>
                <div class="card-inner">
                  <div class="tab-content">
                    <div class="tab-pane fade active in" id="Flights">
                      <a class="btn btn-brand waves-attach waves-light" data-toggle="modal" href="#add_new_flights">Add new flights</a>
                      <a class="btn btn-brand waves-attach waves-light" data-toggle="modal" href="#search_flights">Search flights</a>
                    </div>
                    <div class="tab-pane fade" id="Cancel_applications">

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </main>
  <footer class="ui-footer">
    <div class="container">
      <p>© 2016 FeiFlight</p>
    </div>
  </footer>

  <div aria-hidden="true" class="modal fade" id="add_new_flights" role="dialog" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-heading">
          <a class="modal-close" data-dismiss="modal">×</a>
          <h2 class="modal-title">Add new flights</h2>
        </div>
        <form class="form" action="add-flights" method="POST">
          <div class="modal-inner">
            <div class="form-group form-group-label form-group-brand form-limit3">
              <label class="floating-label" for="Flight_no"> Flight number </label>
              <input class="form-control" id="Flight_no" type="text" name="flight_id">
            </div>
            <div class="form-group form-group-label form-group-brand form-limit3">
              <label class="floating-label" for="Date_begin"> Date begin </label>
              <input class="form-control" id="Date_begin" type="text" name="date_begin">
            </div>
            <div class="form-group form-group-label form-group-brand form-limit3">
              <label class="floating-label" for="Date_end"> Date end </label>
              <input class="form-control" id="Date_end" type="text" name="date_end">
            </div>
            <div class="form-group form-group-label form-group-brand form-limit3">
              <label class="floating-label" for="From"> From </label>
              <input class="form-control" id="From" type="text" name="From">
            </div>
            <div class="form-group form-group-label form-group-brand form-limit3">
              <label class="floating-label" for="To"> TO </label>
              <input class="form-control" id="To" type="text" name="to">
            </div>
            <div class="form-group form-group-label form-group-brand form-limit3">
              <label class="floating-label" for="Cabin_Class">Cabin Class</label>
              <select class="form-control" id="Cabin_Class" name="cabin_class">
                <option></option>
                <option value="Economy">Economy</option>
                <option value="Business">Business</option>
                <option value="First Class">First Class</option>
              </select>
            </div>
            <div class="form-group form-group-label form-group-brand form-limit3">
              <label class="floating-label" for="Depart_time"> Depart time </label>
              <input class="form-control" id="Depart_time" type="text" name="depart_time">
            </div>
            <div class="form-group form-group-label form-group-brand form-limit3">
              <label class="floating-label" for="Arrival_time"> Arrival time </label>
              <input class="form-control" id="Arrival_time" type="text" name="arrival_time">
            </div>
            <div class="form-group form-group-label form-group-brand form-limit3">
              <label class="floating-label" for="Price"> Price </label>
              <input class="form-control" id="Price" type="text" name="price">
            </div>
            <div class="form-group form-group-label form-group-brand form-limit3">
              <label class="floating-label" for="Point"> Point </label>
              <input class="form-control" id="Point" type="text" name="point">
            </div>
            <div class="form-group form-group-label form-group-brand form-limit3">
              <label class="floating-label" for="Cancel_fee"> Cancel fee </label>
              <input class="form-control" id="Cancel_fee" type="text" name="cancel_fee">
            </div>
            <div class="form-group form-group-label form-group-brand form-limit3">
              <label class="floating-label" for="Change_fee"> Change fee </label>
              <input class="form-control" id="Change_fee" type="text" name="change_fee">
            </div>
            <div class="form-group form-group-label form-group-brand form-limit3">
              <label class="floating-label" for="Seats"> Seats </label>
              <input class="form-control" id="Seats" type="text" name="seats">
            </div>
          </div>
          <div class="modal-footer">
            <p class="text-right"><button class="btn btn-flat btn-brand waves-attach" data-dismiss="modal" type="button">Close</button><button class="btn btn-flat btn-brand waves-attach" type="submit">Add</button></p>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div aria-hidden="true" class="modal fade" id="search_flights" role="dialog" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-heading">
          <a class="modal-close" data-dismiss="modal">×</a>
          <h2 class="modal-title">Search flights</h2>
        </div>
        <form class="form" action="flight.html" method="POST">
          <div class="modal-inner">
            <div class="form-group form-group-label form-group-brand form-limit3">
              <label class="floating-label" for="flight_id"> Flight number </label>
              <input class="form-control" id="flight_id" type="text" name="flight_no">
            </div>
            <div class="form-group form-group-label form-group-brand form-limit3">
              <label class="floating-label" for="flight_date"> Date </label>
              <input class="form-control" id="flight_date" type="text" name="flight_date">
            </div>
            <div class="form-group form-group-label form-group-brand form-limit3">
              <label class="floating-label" for="flight_class">Cabin Class</label>
              <select class="form-control" id="flight_class" name="flight_class">
                <option></option>
                <option value="Economy">Economy</option>
                <option value="Business">Business</option>
                <option value="First Class">First Class</option>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <p class="text-right"><button class="btn btn-flat btn-brand waves-attach" data-dismiss="modal" type="button">Close</button><button class="btn btn-flat btn-brand waves-attach" type="submit">Search</button></p>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- js -->
  <script src="../static/js/jquery.min.js"></script>
  <script src="../static/js/base.js"></script>
  <script src="../static/js/project.js"></script>
</body>
</html>
