<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width" name="viewport">
  <title>FeiFlight</title>

  <!-- css -->
  <link rel="stylesheet" type="text/css" href="../static/css/base.css">
  <link rel="stylesheet" type="text/css" href="../static/css/project.css">

  <!-- favicon -->
  <!-- ... -->
</head>
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<script>
  window.onload=function () {
    $('body').snackbar({
      content: '{{ message }}'
    });
  }
</script>
{% endfor %}
{% endif %}
{% endwith %}
<script type="text/javascript">
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<body class="page-brand">
  <header class="header header-transparent header-waterfall ui-header">
    <ul class="nav nav-list pull-left">
      <li>
        <a data-toggle="menu" href="#ui_menu">
          <span class="icon icon-lg">menu</span>
        </a>
      </li>
    </ul>
    <a class="header-logo margin-left-no" href="index.html">FeiFlight</a>
    <ul class="nav nav-list pull-right">
      <li class="dropdown margin-right">
        <a class="dropdown-toggle padding-left-no padding-right-no" data-toggle="dropdown">
          <span class="access-hide">{{ g.authedUser.name }}</span>
          <span class="avatar avatar-sm"><img alt="alt text for John Smith avatar" src="../static/images/users/avatar-001.jpg"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
          {% if(g.authedUser!=None) %}
          <li>
            <a class="padding-right-lg waves-attach" href="profile.html"><span class="icon icon-lg margin-right">account_box</span>{{ g.authedUser.name }}</a>
          </li>
          {% if(g.authedUser['user_type'] == 2) %}
          <li>
            <a class="padding-right-lg waves-attach" href="my-trips.html"><span class="icon icon-lg margin-right">airplanemode_active</span>My trips</a>
          </li>
          {% elif(g.authedUser['user_type'] == 1) %}
          <li>
            <a class="padding-right-lg waves-attach" href="company-portal.html"><span class="icon icon-lg margin-right">dashboard</span>Portal</a>
          </li>
          {% else %}
          <li>
            <a class="padding-right-lg waves-attach" href="admin-portal.html"><span class="icon icon-lg margin-right">dashboard</span>Portal</a>
          </li>
          {% endif %}
          <li>
            <a class="padding-right-lg waves-attach" href="logout.html"><span class="icon icon-lg margin-right">exit_to_app</span>Logout</a>
          </li>
          {% else %}
          <li>
            <a class="padding-right-lg waves-attach" href="login.html"><span class="icon icon-lg margin-right">input</span>Login</a>
          </li>
          <li>
            <a class="padding-right-lg waves-attach" href="sign-up.html"><span class="icon icon-lg margin-right">person_add</span>Sign up</a>
          </li>
          {% endif %}
        </ul>
      </li>
    </ul>
  </header>
  <nav aria-hidden="true" class="menu" id="ui_menu" tabindex="-1">
    <div class="menu-scroll">
      <div class="menu-content">
        <a class="menu-logo" href="index.html">FeiFlight</a>
        <ul class="nav">
          {% if(g.authedUser['user_type'] == 2) %}
          <li>
            <a class="waves-attach" href="discount.html">Discount</a>
          </li>
          <li>
            <a class="waves-attach" href="my-trips.html">My trips</a>
          </li>
          {% endif %}
          <li>
            <a class="waves-attach" href="about-us.html">About us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <main class="content">
    <div class="content-header ui-content-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-lg-push-3 col-sm-10 col-sm-push-1">
            <h1 class="content-heading">FeiFlight</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-lg-push-3 col-sm-10 col-sm-push-1">
          <section class="content-inner margin-top-no">
            <div class="card">
              <div class="card-main">
                <nav class="tab-nav tab-nav-brand margin-top-no">
                  <ul class="nav nav-justified">
                    <li class="active">
                      <a class="waves-attach" data-toggle="tab" href="#Round_trip">Round trip</a>
                    </li>
                    <li>
                      <a class="waves-attach" data-toggle="tab" href="#One_way">One way</a>
                    </li>
                  </ul>
                </nav>
                <div class="card-inner">
                  <div class="tab-content">
                    <div class="tab-pane fade active in" id="Round_trip">
                      <form class="form">
                        <div class="form-group form-group-label form-group-brand form-limit1">
                          <label class="floating-label" for="From1"> From </label>
                          <input class="form-control" id="From1" type="text" name="From1">
                        </div>
                        <div class="form-group form-group-label form-group-brand form-limit1">
                          <label class="floating-label" for="To1"> To </label>
                          <input class="form-control" id="To1" type="text" name="to1">
                        </div>
                        <div class="form-group form-group-label form-group-brand form-limit1">
                          <label class="floating-label" for="datepicker_Fei1"> Depart Date </label>
                          <input class="form-control" id="datepicker_Fei1" type="text" name="d_date1">
                        </div>
                        <div class="form-group form-group-label form-group-brand form-limit1">
                          <label class="floating-label" for="datepicker_Fei2"> Return Date </label>
                          <input class="form-control" id="datepicker_Fei2" type="text" name="r_date1">
                        </div>
                        <div class="form-group form-group-label form-group-brand form-limit1">
                          <label class="floating-label" for="Travellers1">Travellers</label>
                          <select class="form-control" id="Travellers1" name="volume1">
                            <option></option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                          </select>
                        </div>
                        <div class="form-group form-group-label form-group-brand form-limit1">
                          <label class="floating-label" for="Cabin_Class1">Cabin Class</label>
                          <select class="form-control" id="Cabin_Class1" name="cabin_class1">
                            <option></option>
                            <option value="Economy">Economy</option>
                            <option value="Business">Business</option>
                            <option value="First Class">First Class</option>
                          </select>
                        </div>
                        <button class="btn btn-brand waves-attach form-limit2" type="button" id="round_trip_search" name="round_trip_search">Search flights</button>
                      </form>
                      <div id="round_trip_result">
                      </div>
                    </div>
                    <div class="tab-pane fade" id="One_way">
                      <form class="form">
                        <div class="form-group form-group-label form-group-brand form-limit1">
                          <label class="floating-label" for="From2"> From </label>
                          <input class="form-control" id="From2" type="text" name="From2">
                        </div>
                        <div class="form-group form-group-label form-group-brand form-limit1">
                          <label class="floating-label" for="To2"> To </label>
                          <input class="form-control" id="To2" type="text" name="To2">
                        </div>
                        <div class="form-group form-group-label form-group-brand form-limit1">
                          <label class="floating-label" for="datepicker_Fei3"> Depart Date </label>
                          <input class="form-control" id="datepicker_Fei3" type="text" name="d_date2">
                        </div>
                        <div class="form-group form-group-label form-limit1">
                          <label class="floating-label" for="datepicker_Fei4">Return Date</label>
                          <input class="form-control" id="datepicker_Fei4" type="text" name="r_date2" disabled>
                        </div>
                        <div class="form-group form-group-label form-group-brand form-limit1">
                          <label class="floating-label" for="Travellers2">Travellers</label>
                          <select class="form-control" id="Travellers2" name="volume2">
                            <option></option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                          </select>
                        </div>
                        <div class="form-group form-group-label form-group-brand form-limit1">
                          <label class="floating-label" for="Cabin_Class2">Cabin Class</label>
                          <select class="form-control" id="Cabin_Class2" name="cabin_class2">
                            <option></option>
                            <option value="Economy">Economy</option>
                            <option value="Business">Business</option>
                            <option value="First Class">First Class</option>
                          </select>
                        </div>
                        <button class="btn btn-brand waves-attach form-limit2" type="button" id="one_way_search" name="one_way_search">Search flights</button>
                      </form>
                      <div id="one_way_result">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </main>
  <footer class="ui-footer">
    <div class="container">
      <p>© 2016 FeiFlight</p>
    </div>
  </footer>

  <!-- js -->
  <script src="../static/js/jquery.min.js"></script>
  <script src="../static/js/base.js"></script>
  <script src="../static/js/project.js"></script>
</body>
</html>
