<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width" name="viewport">
  <title>Login - FeiFlight</title>

  <!-- css -->
  <link href="../static/css/base.css" rel="stylesheet">
  <link href="../static/css/project.css" rel="stylesheet">

  <!-- favicon -->
  <!-- ... -->
</head>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
  {% for message in messages %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}
<body class="page-brand">
  <header class="header header-brand ui-header">
    <span class="header-logo">FeiFlight</span>
  </header>
  <main class="content">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-lg-push-4 col-sm-6 col-sm-push-3">
          <section class="content-inner">
            <div class="card">
              <div class="card-main">
                <div class="card-header">
                  <div class="card-inner">
                    <h1 class="card-heading">Login</h1>
                  </div>
                </div>
                <div class="card-inner">
                  <p class="text-center">
                    <span class="avatar avatar-inline avatar-lg">
                      <img alt="Login" src="../static/images/users/avatar-001.jpg">
                    </span>
                  </p>
                  <form class="form" action="" method="POST">
                    <div class="form-group form-group-label form-group-brand">
                      <div class="row">
                        <div class="col-md-10 col-md-push-1">
                          <label class="floating-label" for="ui_login_email">Email</label>
                          <input class="form-control" id="ui_login_email" type="text" name="email">
                        </div>
                      </div>
                    </div>
                    <div class="form-group form-group-label form-group-brand">
                      <div class="row">
                        <div class="col-md-10 col-md-push-1">
                          <label class="floating-label" for="ui_login_password">Password</label>
                          <input class="form-control" id="ui_login_password" type="password" name="password">
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-10 col-md-push-1">
                          <button class="btn btn-block btn-brand waves-attach waves-light" type="submit">Login</button>
                      </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="clearfix">
              <p class="margin-no-top pull-left"><a class="btn btn-flat btn-brand waves-attach" href="about-us.html">About us</a></p>
              <p class="margin-no-top pull-right"><a class="btn btn-flat btn-brand waves-attach" href="sign-up.html">Sign up</a></p>
            </div>
          </section>
        </div>
      </div>
    </div>
  </main>
  <footer class="ui-footer">
    <div class="container">
      <p>© 2016 FeiFlight</p>
    </div>
  </footer>

  <!-- js -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="../static/js/base.js"></script>
  <script src="../static/js/project.js"></script>
</body>
</html>
